{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "endOfLine": "auto",
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all"
}
